services:
  - type: web
    name: laravel-app
    env: docker
    plan: free
    autoDeploy: true

    envVars:
      - key: APP_ENV
        value: production
      - key: APP_DEBUG
        value: false
      - key: APP_URL
        value: https://laravel-app.onrender.com
      - key: DB_CONNECTION
        value: pgsql
      - key: DATABASE_URL
        fromDatabase:
          name: laravel-db
          property: connectionString

databases:
  - name: laravel-db
    plan: free

